# vscode
.vscode

# Intellij
*.iml
.idea

# npm
node_modules

# Release files
main.js
settings-profiles/
settings-profiles-*.zip

# Exclude sourcemaps
*.map

# obsidian
data.json

# Exclude macOS Finder (System Explorer) View States
.DS_Store

# Jest Testing
coverage
