.settings-profiles-modal .setting-item-info {
	display: none;
}

.settings-profiles-modal input {
	width: 100%;
}

.settings-profiles-current .setting-item-name {
	font-weight: bold;
}

.settings-profiles-current .setting-item-name::before {
	content: "⭐";
}