.profiles-container {
    padding-top: var(--size-4-4);
    border-top: 1px solid var(--background-modifier-border);
}

.profiles-container .profile-enabled {
    font-weight: bolder;
}

.profiles-container .setting-editor-extra-setting-button .is-disabled {
    opacity: 0.5;
}


.profiles-container .clickable-icon.setting-editor-extra-setting-button.is-disabled:hover {
    box-shadow: none;
    background-color: transparent;
}

.profiles-container .clickable-icon.setting-editor-extra-setting-button.is-disabled:active {
    box-shadow: none;
    background-color: transparent;
    color: var(--icon-color);
}

.modal-buttons {
    border-top: none;
}